<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" internalLogFile="Nlog.log">
    <targets>
      <target name="file" xsi:type="File" layout="${longdate}|${level}|${callsite}|${logger}|${threadid}|${windows-identity:domain=false}--${message} ${exception:format=message,stacktrace:separator=*" fileName="d:\tmp\myNlog.log" />
      <target name="database" type="Database">
        <connectionString>Data Source=.\sql2014;Initial Catalog=NLog;User Id=nlog;Password=nlog;</connectionString>
        <commandText>
          insert into system_logging(log_application,log_date,log_level,log_logger,log_message,log_machine_name, log_user_name, log_call_site, log_thread, log_exception, log_stacktrace) values('WriteToRead',@time_stamp, @level, @logger, @message,@machinename, @user_name, @call_site, @threadid, @log_exception,
          @stacktrace);
        </commandText>
        <parameter name="@time_stamp" layout="${longdate}" />
        <parameter name="@level" layout="${level}" />
        <parameter name="@logger" layout="${logger}" />
        <parameter name="@message" layout="${message}" />
        <parameter name="@machinename" layout="${machinename}" />
        <parameter name="@user_name" layout="${windows-identity:domain=true}" />
        <parameter name="@call_site" layout="${callsite:filename=true}" />
        <parameter name="@threadid" layout="${threadid}" />
        <parameter name="@log_exception" layout="${exception}" />
        <parameter name="@stacktrace" layout="${stacktrace}" />
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="file" />
      <logger name="*" minlevel="Info" appendTo="database" />
    </rules>
  </nlog>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.\sql2014;Initial Catalog=Write;integrated security=True;Pooling=false" providerName="System.Data.SqlClient" />
    <add name="Master" connectionString="Data Source=.\sql2014;Initial Catalog=Master;integrated security=True;Pooling=false" providerName="System.Data.SqlClient" />
    <add name="WriteContext" connectionString="Data Source=.\sql2014;Initial Catalog=Write;integrated security=True;Pooling=false" providerName="System.Data.SqlClient" />
    <add name="ReadContext" connectionString="Data Source=.\sql2014;Initial Catalog=Read;integrated security=True;Pooling=false" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>